@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #000000;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: #ffffff;
        --popover: #000000;

        /* --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%; */

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --border: slate-200;
        /* --border: 214.3 31.8% 91.4%; */
        --input: 214.3 31.8% 91.4%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    .dark {
        /* --background: #181b21; */
        --background: #151d2b;
        /* --background: 222.2 84% 4.9%; */
        --foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: #1e293a;
        --popover-foreground: #000000;

        /* --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%; */

        --border: #3d4d68;
        --input: #3d4d68;

        /* --primary: #0095ff;
        --primary-foreground: #ffffff; */

        --primary: #1e293a;
        --primary-foreground: #ffffff;

        --secondary: #32435e;
        --secondary-foreground: #ffffff;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;

        --ring: 217.2 32.6% 17.5%;
    }
}

@layer base {
    @font-face {
        font-family: "Geist";
        src: url("./assets/fonts/GeistVF.woff") format(".woff");
    }

    @font-face {
        font-family: "SpaceGrotesque";
        src: url("./assets/fonts/SpaceGrotesqueVF.ttf") format(".woff");
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-family: SpaceGrotesque;
        /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    }
}
